.App {
  text-align: center;
}

/*    Navbar Styling     */

.navbar {
  background-color: rgb(36, 33, 33);
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  margin: auto;
  font-size: 1.5rem;
  width: 90wv;

}
