.App {
  text-align: center;
}

/*    Navbar Styling     */

.navbar {
  height: 8vh;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-container {
  height: 75px;
  width: 100vw;
  background-color: rgb(36, 33, 33);
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  margin: auto;
  font-size: 1.5rem;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid transparent;
}

.navbar a:hover {
  border-bottom: 1px solid whitesmoke;
}

/*   Main Styling*/

.main-container {
  background-color: rgb(153, 153, 153);
  height: 82vh;
}

.main-container h1,
.footer-container h1 {
  margin: 0;
}


/*   Footer Styling    */

